@import "vars";


.banner {
    min-height: 544px;
    padding-top: 140px;
    padding-bottom: 89px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        margin: 0 0 45px;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.5em;       
    }

    &__info {
        margin: 0 0 45px;
        font-family: $main-font;
        font-style: normal;
        font-weight: 900;
        font-size: 55px;
        line-height: 60px;
    }

    &__info-secondary {
        margin: 0 0 45px;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
    }
}

.banner__btn {
    color: #fff;
    border: 1px solid white;
    border-radius: 0;
}